.logoSection {
  margin: 5rem 0;
}

.postSection {
  div {
    display: block;

    & + div {
      margin: 3rem 0;
    }

    a {
      transition: color 0.3s;

      &:hover {
        h1 {
          color: var(--pink-300);
        }
      }
    }

    p {
      margin-top: 0.875rem;
    }

    div {
      margin-top: 1.5rem;

      time {
        margin-right: 1rem;
      }

      svg {
        margin-right: 0.875rem;
      }
    }
  }
}

.footerSection {
  button {
    background: none;
    border: none;
    font-weight: bold;
    font-size: 1.375rem;
    color: var(--pink-300);
    transition: filter 0.2s;

    &:hover {
      filter: opacity(0.7);
    }
  }
}
