.mainSection {
  max-width: 960px;
  margin: 0 auto;
}

.logoSection {
  margin: 5rem 0;
}

.postSection {
  a {
    display: block;
    & + a {
      margin: 3rem 0;
    }

    p {
      margin-top: 0.875rem;
    }

    div {
      margin-top: 1.5rem;

      time {
        margin-right: 1rem;
      }

      svg {
        margin-right: 0.875rem;
      }
    }

    &:hover {
      h1 {
        color: var(--pink-300);
      }
    }
  }
}
